* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}
header{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}
.top_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
.left_logo{
    margin-left: 50px;
}
.search input{
    height: 50px;
    width: 200px;
}
.icon_top_header{
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.search form input{
    width: 500px;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 15px;
}
.search form button{
    width: 100px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    margin: 0px;
    padding: 0px;
}

.menu{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    height: 50px;
    /* background-color: red; */
    align-items: center;
    font-size: 15px;
}
.menu>a:hover{
    border-bottom: solid 1px black;
    color: red;
}
.menu > a{
    color: black;
    font-family: sans-serif;
}
.bottom_header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom_header_content{
    text-align: center;
    width: 24%;
    height: 150px;
    /* background-color: aqua; */
}
.bottom_header_content p{
    margin-top: 15px;
}
.title_main{
    height: 100px;
    display: flex;
    justify-content: center;
}
.title_main h2 a{
color: black;
 font-size: 50px;
 font-family: "Dosis", sans-serif;
 padding: 0px;
 transition: all 0.2s ease-in-out;

}
.title_main h2 a:hover{
 color: red; 
 transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}
.content_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.content_footer div{
  width: 20%;
  /* background-color: red; */
  margin: auto;
}
.info p{
    margin-bottom: 15px;
    font-size: 25px;
}
.info li{
    margin-bottom: 10px;
}
.info li a{
    color: black;
}
.info li a:hover{
    color:red;
}
.copyright{
   display: flex;
   justify-content: center;
   height: 50px;
   align-items: center;
   border-top: 1px solid gray;
}
.main_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px ;
    grid-column-gap: 25px;
    padding: 10px 30px 10px 15px;
}
.item1{
    grid-column: 1/3;
    /* background-color: green; */
}
.item{
    height: 390px;
    width:  100%;
    /* background-color: rgb(157, 170, 157); */
    transition: all 0.3s ease;
    border-radius: 10px;
    background-color: white;
}
.item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px gray; 
}
.item{
    position: relative;
}
.discount_percent{
    width: 50px;
    height: 25px;
    display: grid;
    place-content: center;
    background-color: beige;
    color: red;
    position: absolute;
    top: 10px;
    left: 10px;
}
.item img{
  padding-bottom:10px ;
  border-radius: 10px;
}
.price{
    position: absolute;
    bottom: 50px;
    left: 5px;
    color: red;
}
.discount{
    color: black;
    position: absolute;
    bottom: 15px;
    left:5px;
}
.product_name h5{
    color: black;
    padding-left: 5px;
    font-family: sans-serif;
}
.mid_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    margin-top: 30px;
}
.col{
    background-image: url(../image/background_mid_content.png);
    background-repeat: no-repeat;
    background-size: 490px, 290px, cover;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.col2{
    width: 750px;
    height: 420px;
    background-color: red;
    
}
.col1{
    width: 750px;
    height: 600px;
    /* background-color: red; */
}
.col1 a{
    margin: 10px;
    color: black;
}
.col1 p{
    text-align: center;
    margin: 10px;
    color: black;
    font-size: 20px;
}
.col1_content{
    width: 70%;
    margin: auto;
    margin-top: 100px;
}
.lienhe{
    width: 80%;
    margin:auto;
}
.button{
    display: flex;
    width: 150px;
    height: 50px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    border: 1px solid orange;
    color: white;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background-color: white;
    color: orange;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}
.tab_content p a{
    color: black;
    transition: all 0.2s ease-in-out;
}
.tab_content p a:hover{
    color: red;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}
.lienhe a{
    color: gray;
}
.lienhe a:hover{
    color: black;
    border-bottom: 1px solid black;
}
.bottom_banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:1px;
}
.email{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: whitesmoke;
}
.email div button{
        width: 100px;
        height: 40px;
        background-color: orange;
        border-radius: 0px 5px 5px 0px;
        margin: auto;
        border: 1px solid orange;
        color: white;
        transition: all 0.2s ease-in-out;
}
.email div button:hover{
    background-color: white;
    color: orange;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}
.email div input{
    padding-left: 10px;
    width: 600px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid gray;
}






/* css product page */
#container2{
    display: grid;
    grid-template-areas: 
    'aside main';
    grid-template-columns: 1fr 2fr;
}
.main_product{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: main;
    grid-gap: 25px 25px;
    padding: 10px 30px 10px 15px;
}
.side_bar{
    grid-area: aside;
    width: 100%;
    padding: 10px 30px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.danhmuc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px 0px 10px;
}
.danhmuc a{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}
.thuonghieu{
    padding: 10px 0px 0px 10px;
}
.thuonghieu p{
    font-weight: bold;
    font-family: sans-serif;
}
.thuonghieu a{
    color: black;
    font-family: sans-serif;
}
.thuonghieu a:hover{
    color: red;
}
.price_product{
    padding: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price_product p{
    font-weight: bold;
    font-family: sans-serif;
}
.price_product a{
    color: black;
    font-family: sans-serif;
}
.price_product a:hover{
    color: red;
}
.size_product{
    padding: 10px 0px 0px 10px;
}
.size_product p{
    font-weight: bold;
    font-family: sans-serif;
}
.all_size{
    display: grid;
    grid-template-columns: repeat(8, 42px);
    gap: 1px;
}
.size {
    display: grid;
    place-items: center; 
    background-color: lightgray; 
    padding: 10px; 
    border: 1px solid #ccc; 
}
.size:hover {
  color: red;
}





/* css product details */
.info_product{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: whitesmoke;
}
.info_product a{
    color: gray;
}
.info_product a:hover{
    color: red;
}
.main_product_details{
    width: 100%;
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 20px;
}
.img_product_details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
    justify-content: center;
    gap: 10px 10px;
}
.related_products{
    display: grid;
    grid-template-columns: repeat(4, 309px);
    gap: 30px 30px;
    justify-content: center;
}
.discount_details{
    display: grid;
    place-items: center; 
    background-color:white ;
    width: 50px;
    height: 25px;
}
.price_details{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
.product_details{
    display: flex;
    background-color: whitesmoke;
    padding: 20px;
    flex-direction: column;
    gap: 50px;
    border-radius: 5px;
    
}
.trasau{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 50px;
}
.size_products_details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.size_details {
    color: black;
    display: grid;
    place-items: center;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.size_details:hover {
    background-color: black;
    color: white;
}

.size_details.selected {
    background-color: black;
    color: white;
}

.guild_size:hover{
 color: red;
}
.addcart{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #f10909;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #f10909;
    color: white;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}
.addcart:hover{
    background-color: white;
    color: #f10909;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}
.addfav{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid orange;
    color: white;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}
.addfav:hover{
    background-color: white;
    color: orange;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}
.function_button {
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.info_product_details{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}




 /* css cart  */
.header_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.button_cart button{
    font-size: 15px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid orange;
    color: white;
    transition: all 0.2s ease-in-out;
}
.footer_cart{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    justify-self: right;
}
.tong_tien{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    margin-right: 50px;
}
.button_cart button:hover{
    background-color: white;
    color: orange;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}
.item_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}
.in4_item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.delete{
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-end;
}


.profile_content{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}
.group_info button {
     width: 150px;
    height: 50px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    border: 1px solid orange;
    margin-left: 20px;
    margin-top: 10px;
}
.group_info form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.group_info form .button_profile{
   margin-left: 20px;
}
.group_info form .button_profile button a{
   color: #fff;
}
.group_info form .button_profile button {
    width: 150px;
    height: 50px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    border: 1px solid orange;
}
.group_info input {
   width: 400px;
   height: 50px;
   border-radius: 20px;
   border: 1px solid black;
   padding-left: 20px;
}
.avt_section img{
    border-radius: 50%;
}
.avt_section form button{
    width: 150px;
    height: 50px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    border: 1px solid orange;
    color: white;
    transition: all 0.2s ease-in-out;
}
.avt_section form input{
    width: 150px;
    height: 50px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    border: 1px solid orange;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
}
.avt_section form button:hover{
    background-color: white;
    color: orange;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}

