.forgot-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.forgot-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

.forgot-container p {
    color: #666666;
    font-size: 14px;
    margin-bottom: 20px;
}

.forgot-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-size: 14px;
    color: #333333;
}

.forgot-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

.forgot-container button {
    width: 50%;
    padding: 10px;
    background-color: #f10909 ;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.forgot-container button:hover {
    background-color:#df4545;
}

.forgot-footer {
    margin-top: 10px;
}

.forgot-footer a {
    color: #f10909;
    text-decoration: none;
    font-size: 14px;
}

.forgot-footer a:hover {
    text-decoration: underline;
}